.morning {
  background-image: linear-gradient(to top, #fddb92 0%, #d1fdff 100%);
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 100%;
}
.day {
  background-image: linear-gradient(to top, #caf0f8 0%, white 100%);

  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 100%;
}
.evening {
  background-image: linear-gradient(to top, #30cfd0 0%, #330867 100%);
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 100%;
}
.night {
  background-image: linear-gradient(-20deg, #2b5876 0%, #4e4376 100%);
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 100%;
}

body {
  margin: 0;

  font-family: "Cabin";
}
h1 {
  padding: 20px 0 0 0;
}

.day h1 {
  color: #03045e;
}
.night,
.evening h1 {
  color: white;
}
h2 {
  font-style: italic;
  font-weight: lighter;
  font-size: 24px;
}
.day h2 {
  color: #90e0ef;
  font-size: 24px;
}
.night,
.evening h2 {
  color: white;
  font-size: 24px;
}
.day h5 {
  color: #03045e;
}

.day h6 {
  color: #90e0ef;
}
#conditions {
  position: relative;
  top: -30px;
}
a:link {
  text-decoration: none;
}
a:visited {
  color: #adb5bd;
}
a:hover {
  color: #03045e;
}

p {
  padding: 10px;
}
.temp-rain {
  position: relative;
  top: -25px;
}
#cels-convert,
#fahr-convert {
  font-size: 16px;
}
.container {
  max-width: 975px;
  margin: 50px auto auto;
}

.temp-rain {
  text-align: right;
}
.temp-rain .active {
  color: rgb(33, 33, 33);
  cursor: default;
}

.temp-rain .active:hover {
  text-decoration: none;
}
.converted-temp {
  font-weight: lighter;
  color: #90e0ef;
}
.card {
  background: rgba(255, 255, 255, 0.5);
  position: relative;
  top: -50px;
}

.card:hover {
  background: #f8fdfe;
}
.night .card:hover {
  background: #dbd9e3;
}
.weather-days {
  text-align: center;
}
.weather-icon {
  font-size: 40px;
  color: #adb5bd;
}
.search-bar {
  margin: 25px 0;
  padding: 0;
  color: #03045e;
}
#search-area {
  position: relative;
  top: -50px;
}
#city-input {
  width: 80%;
}

#submit-button {
  position: relative;
  top: -2px;
}
.btn-light:hover {
  background: #e1e6ea;
}

#locate-me-button {
  text-align: right;
  margin: 25px 0 0 0;
}
#coded-by {
  position: fixed;
  left: 0;
  bottom: 10px;
  width: 100%;
  text-align: center;
  background: rgba(255, 255, 255, 0.9);
}
.night #coded-by {
  color: white;
}
#updates {
  font-size: 12px;
  font-style: italic;
}
